html { 
  background: url(images/bg.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  font-family: 'Lato', sans-serif;
}

#name {
	position:absolute;
	top: 20px;
	left: 10px;
}

#priceBlock {
	position: absolute;
	top: 0px;
	left: 600px;
	height: auto;
	width: auto;
}

#priceBlock p{
	display: inline-block;
	font-size: 20px;
	padding-right: 20px;
}

#yellow{color: #F8F097;}
#green { color: #8DD67F;}
#blue {	color: #71B3C3;}
#orange { color: #A1A1A1;}

#introDiv {
	display: block;
	width: 1000px;
	margin-left: auto;
	margin-right: auto;
}
#intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
#play {
	display: block;
	position: relative;
	float: right;
	top: -70px;
	padding-right: 45px;
}

#powerUps {
	margin-top: 5px;
	width: 60px;
	float: right;
}

#powerUps img{
	padding-bottom: 10px;
}

#fez {
	display: block;
	float: right;
	width: 100%;
}

#g3d {
	display: block;
	float: right;
	width: 100%;
}


#bowTie {
	display: block;
	float: right;
	width: 100%;
}

